﻿@{
    ViewBag.Title = "Compress Image";
}
<script src="Scripts/jquery-1.10.2.min.js"></script>  

<style>
    .uploadButton{
        background-color: antiquewhite;
        border-color: blue
    }
</style>
<script>
    //$(function () {
    //    $('#upload').click(function () {

    //        var $file = document.getElementById('file'),
    //            $formData = new FormData();

    //        if ($file.files.length > 0) {
    //            for (var i = 0; i < $file.files.length; i++) {
    //                $formData.append('file-' + i, $file.files[i]);
    //            }
    //        }

    //        $.ajax({
    //            url: '/home/Upload',
    //            type: 'POST',
    //            data: $formData,
    //            dataType: 'json',
    //            contentType: false,
    //            processData: false,
    //            success: function ($data) {

    //            }
    //        });
    //    });
    //});

    //create table tblImages(
    //    tblImages_id int IDENTITY(1, 1) not null
    //    , fileName nvarchar(500) not null
    //    , filePath nvarchar(500) not null
    //    , dt_upload datetime not null default '1900-01-01'
    //    , PRIMARY KEY CLUSTERED 
    //        (
    //        [tblImages_id] ASC
    //        )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    //) ON [PRIMARY]

    //GO
</script>
<div class="container">
    <div class="container" style="margin-left:15%;">
        <div class="logo" >
            <img src="/images/Complogo.png" alt="logo" />
        </div>
        <h1 style="color:deepskyblue">Speedsz Compression Tool</h1>
    </div>
    <div class="table-bordered" style="margin-left:10%;border-bottom-style:double;width: 55%;height: 200px;background-color:antiquewhite">
        @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <br />
        <br />
        <div>
            @Html.TextBox("file", "", new
       {
           type = "file",
           accept = ".jpg, .png",
           @class = "btn btn-default btn-file",
           style = "font-weight: bold;margin-left: 25%"
       }) <br />

            <input type="submit" class="btn btn-default" value="Upload Image" style="margin-left:30%;background-color:cornflowerblue;font-weight: bold; font-size:30px;color:white" />
            <label style="margin-left:13%;">Do not upload more than 15 MB Image(It supports jpg,png format)</label>
            @ViewBag.Message
        </div>
        <br />
        <br />
        <br />

        }
    </div>
</div>
    @*<div class="row">
            <div class="form-group">
                <label for="image" id="lab">select image</label><br><br>
                <input type="file" name="file" id="file" required>
            </div><br>
            <input type="submit" class="btn btn-primary" value="upload image" name="upload" id="upload">

            <br />
            <br />
            <br />
            <a href="images.php" target="blank"><input type="button" class="btn btn-warning" value="show uploaded images"></a>
        </div>*@
