﻿@model IEnumerable<CompressImage.Web.Models.ImageInfo>
@{
    ViewBag.Title = "Uploaded Image";
}
<script src="Scripts/jquery-1.10.2.min.js"></script>
<div class="container">
    <div class="container" style="margin-left:15%;">
        <div class="logo" style="width:300px;height:150px">
            <img src="/images/Complogo.png" alt="logo" />
        </div>
        <h1 style="color:deepskyblue">Speedsz Compression Tool</h1>
    </div>
    <div class="table-bordered" style="margin-left:10%;border-bottom-style:hidden;border-color:white;width: 80%;">
        <div>
            <label style="font-weight:bold;margin-left:20%;">Original file size: </label>
            @Html.Raw(@Model.First().ImageSizeInfo)
        </div>
        <br />
        <div>
            <label style="font-weight:bold;margin-left:20%">Compressed file size: </label>
            @Html.Raw(@Model.Last().ImageSizeInfo)
        </div>
        <br />
        <div>
            <label style="font-weight:bold;margin-left:20%">Total Savings: </label>
            @Html.Raw(@Model.Last().Savings)
        </div>
        <br />
        <div>


        </div>

        <img style="width: 300px;height:250px" src="@Url.Content(String.Format("~/UploadedFiles/{0}", Model.First().ImageName))" />
        <label style="color:brown;font-size:large;">Original</label>
        <img style="width: 300px;height:250px" src="@Url.Content(String.Format("~/UploadedFiles/{0}", Model.Last().ImageName))" />
        <label style="color:brown;font-size:large">Compressed</label>

    </div>

</div>

