﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Compress Image</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Speedsz Compression Tool", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="position:fixed;bottom: 0; width:100%">
            <div style="background-color:cornflowerblue;width:115%;height:70px;margin-left:-8%;font-weight:bold;text-align:center;color:white;">
                <label style="margin-top: 15px; font-size:30px">
                    &copy; @DateTime.Now.Year - Speedsz Compression Tool
                </label>
            </div>
            @*<p style="background-color:cornflowerblue;width:115%;height:90px;margin-left:-6%;font-weight:bold;text-align:center;color:white">
             &copy; @DateTime.Now.Year - Speedsz Compression Tool</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
